seaborn==0.11.1
joblib==1.0.1
tensorflow==2.4.1
tqdm==4.41.1
plotly==4.4.1
click==7.1.2
scipy==1.4.1
pandas==1.1.5
git+https://github.com/AI-Guru/ngdlm.git
librosa==0.8.0
matplotlib==3.2.2
numpy==1.19.5
ipython==7.16.1
python-dotenv==0.17.0
scikit_learn==0.24.1
